main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

main .wrapper {
    padding-top: 2rem;
}

main .wrapper h1 {
    text-align: center;
}

main .wrapper p {
    text-align: justify;
}

#intro-text {
    margin-top: 5rem;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.links>div:nth-child(n) {
    padding: 5rem;
}

.links img {
    width: 10rem;
}

#final-text {
    margin-top: 10vh;
    text-align: center;
    color: var(--cv-light-blue);
}

.section {
    min-width: 40rem;
}

.section:hover {
    border: 2px solid var(--cv-light-blue);
    background: var(--lavender);
    cursor: pointer;
    transition: background 0.25s;
}

.section h2 {
    color: var(--cv-light-blue);
    transition: all 0.25s;
    font-size: 4rem;
}

.section {
    height: 30rem;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .links {
        flex-direction: column;
    }

    main {
        height: fit-content;
    }

    main .wrapper {
        max-width: 85%;
    }

    main .wrapper p {
        margin: 3rem 0;
    }

    .section h2 {
        color: var(--cv-light-blue);
        transition: all 0.25s;
        font-size: 6rem;
    }

    .section {
        min-width: 30vw;
    }
}