main {
  height: 100vh;
}
main .wrapper {
  padding-top: 3rem;
}
main .wrapper h1 {
  margin-bottom: 3rem;
  text-align: center;
}
main .wrapper p{
    text-align: justify;
}

@media screen and (max-width: 1000px) {
  main {
    height: fit-content;
  }
}
