main {
    height: 100vh;
}

main .wrapper {
    padding-top: 3rem;
}

main .wrapper h1 {
    margin-bottom: 3rem;
    text-align: center;
}

main .wrapper p {
    text-align: justify;
}

.link-section .link-card {
    margin: 10rem auto;

    padding: 3rem;
}

.link-section .link-card img {
    width: 10rem;
    margin: 5rem 0;
}

.link-card a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#opinion-bottom-text {
    margin: 5rem 0;
    text-decoration: underline;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    main {
        height: fit-content;
    }
}