/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /*font-family: 'Roboto', sans-serif;*/

    font-family: 'Raleway', sans-serif;
}

:root{
    --blue-1: #0ffff7;
    --blue-2: #06ded5;
    --blue-3: #0a9aa0;
    --blue-4: #0d6977;
    --blue-5: #0e4959;

    --blue-6: #c8fdf7;

    --cv-blue: #062448;
    --cv-light-blue: #1b7fd7;
    --powder-blue: #B0E0E6;

    --lavender: #E6E6FA;
}

html {
    font-size: 12px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*FONT STYLES*/
h1 {
    font-size: 7rem;
    color: var(--cv-light-blue);
}

h2 {
    font-size: 5rem;
    text-align: center;
    color: var(--cv-light-blue);
}

h3 {
    font-size: 3rem;
}

h6 {
    font-size: 2rem;
}

p {
    font-size: 2.5rem;
}
a{
    text-decoration: none;
}
/*GENERAL RULES*/
ul {
    list-style: none;
}

body {
    position: relative;
}

.wrapper {
    max-width: 90%;
    margin: auto;
}

/*HEADER*/
header {
    background: var(--blue-5);
    color: var(--blue-1);
}

header {
    top: 0;
    left: 0;
    width: 100vw;
}

nav {
    padding: 0rem 3rem;
    top: 0;
    left: 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

header li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

nav a {
    margin: 3rem;
}



header a {
    text-decoration: none;
    color: var(--blue-1);
    font-size: 2rem;
}

header li:hover {

    background: var(--blue-1);
    transition: all .3s;
}

header a:hover {

    color: var(--blue-5);
}

/*MAIN*/
main {
    /*
    background: var(--blue-6);*/

    position: relative;
}

main>div {
    margin-bottom: 10rem;
}


body::after {
    content: "";
    background: url('./assets/bg-test-2.jpg');
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/*Home*/

#home .wrapper {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

#home img {
    border-radius: 50%;
    border: 2px solid var(--cv-light-blue);
    width: 50%;
}

#home .wrapper .wrapper-2 {
    margin-left: 5rem;
}

#home .wrapper-2 h1 {
    margin-bottom: 3rem;
    text-align: center;
}

#home .wrapper .wrapper-2 p{

    text-align: justify;
}


/*EXPERIENCE*/
#experience {
    display: flex;
    flex-direction: column;
}

#experience #cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid var(--blue-3);
    border-radius: 1rem;

    max-width: 40rem;
    min-height: 30rem;

    display: flex;
    flex-direction: column;

    margin: 3rem 1rem;
    padding: 3rem;
}

.card h3 {
    text-align: center;

    color: var(--blue-4);
}

.card ul {
    margin: auto 0;
}

.card ul li {
    font-size: 2rem;
}

.card h6 {
    text-align: center;
    color: var(--blue-5);
    margin-top: 1rem;
}

.card:hover {
    border: 2px solid var(--cv-light-blue);
    /*background: #EDF7F6;*/
    background: var(--lavender);
    cursor: pointer;
    transition: background .25s;
}

.card:hover>h6,
.card:hover>h3 {
    color: var(--cv-light-blue);
    transition: all .25s;
}

/*ALT-EXPERIENCE*/
#alt-experience .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alt-experience .wrapper .card {
    text-align: center;
}

/*WRAPPER*/

/*CONTENIDO*/

#content .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

#content .left-side {
    max-width: 50%;
    padding: 3rem;
}

#content .left-side p{
    text-align:start;
    font-size: 3.2rem;
}

#content .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-width: 50%;
}

#content .section {
    border: 2px solid var(--cv-light-blue);
    border-radius: 2rem;
    font-size: 4rem;
    text-align: center;
    width: 100%;
    height: 100%;

    margin: 1.5rem 0rem;
    padding: 2rem 5rem; 

    display: flex;
    justify-content: center;
    align-items: center;
}

#content .section:hover {
    border: 2px solid var(--cv-light-blue);
    /*background: #EDF7F6;*/
    background: var(--lavender);
    cursor: pointer;
    transition: background .25s;
}

#content .section:hover>h3 {

    color: var(--cv-light-blue);
    transition: all .25s;
}

/*EDUCACION*/
#academic .wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#academic .wrapper .card{
    min-height: 30rem;
}
#academic .wrapper p{
    margin: auto 0;
}
/*CONTACT*/
#contact .wrapper{
    margin-top: 5rem;
}
#contact .contact-link{
    width: 100%;
    padding: 5rem 0;
    text-align: center;
    margin-bottom: 2rem;
}
#contact .contact-link a{
    font-size: 2.5rem;
    text-decoration: underline;
}
#contact .contact-link:hover{
    border: 2px solid var(--cv-light-blue);
    background-color: var(--lavender);
    border-radius: 10px;
    color: var(--cv-light-blue);
}
/*FOOTER*/

footer {
    position: sticky;
    bottom: 0;
    background: var(--cv-light-blue);
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin: 0 1rem;
}

footer li:hover {
    background: var(--cv-blue);
}

footer a:hover,
footer li:hover {
    color: var(--cv-light-blue);
    transition: all .3s;
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 6px;
    }

    h1 {
        text-align: center;
    }

    main {
        padding: 0;
    }

    main>div {
        margin: 0;
    }

    #home .wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        min-height: none;
    }
    #home .wrapper .wrapper-2{
        margin: 0;
    }
    #home .wrapper-2 {
        max-width: 80%;
        text-align: justify;
        margin: 0;
        margin-bottom: 5rem;

    }
    #home .wrapper-2 h1{
        margin: 3rem 0;

    }
    #content .wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #content .left-side{
        max-width: none;
        text-align: justify;
        padding: 1.5rem;
    }
}